{
    "openapi": "3.0.1",
    "info": {
        "title": "CRM Associations Schema",
        "version": "v4",
        "x-hubspot-product-tier-requirements": {
            "marketing": "FREE",
            "sales": "FREE",
            "service": "FREE",
            "cms": "STARTER"
        },
        "x-hubspot-documentation-banner": "NONE",
        "x-hubspot-api-use-case": "To associate a contact with a company, use this API to get the necessary associationTypeId and associationCategory.",
        "x-hubspot-related-documentation": [
            {
                "name": "Associations Guide",
                "url": "https://developers.hubspot.com/docs/guides/api/crm/associations"
            }
        ],
        "x-hubspot-introduction": "Use the association schema API to understand how different types of CRM records and activities can relate to one another, as well as define your own custom associations. "
    },
    "servers": [
        {
            "url": "https://api.hubapi.com/crm/v4/associations"
        }
    ],
    "tags": [
        {
            "name": "Definition Configurations"
        },
        {
            "name": "Definitions"
        }
    ],
    "paths": {
        "/definitions/configurations/all": {
            "get": {
                "tags": [
                    "Definition Configurations"
                ],
                "summary": "Retrieve all association definitions",
                "description": "Returns all user configurations available on a given portal",
                "operationId": "get-/crm/v4/associations/definitions/configurations/all_getAll",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePublicAssociationDefinitionUserConfigurationNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/definitions/configurations/{fromObjectType}/{toObjectType}": {
            "get": {
                "tags": [
                    "Definition Configurations"
                ],
                "summary": "Get configs between two object types",
                "description": "Returns user-defined association configurations for all association definitions between the specified object types.",
                "operationId": "get-/crm/v4/associations/definitions/configurations/{fromObjectType}/{toObjectType}_getAllBetweenTwoObjectTypes",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The source CRM object type for which to retrieve association configurations."
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The target CRM object type for which to retrieve association configurations."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponsePublicAssociationDefinitionUserConfigurationNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/definitions/configurations/{fromObjectType}/{toObjectType}/batch/create": {
            "post": {
                "tags": [
                    "Definition Configurations"
                ],
                "summary": "Batch create association configs",
                "description": "Creates multiple user-defined association configurations between the specified object types in a single batch.",
                "operationId": "post-/crm/v4/associations/definitions/configurations/{fromObjectType}/{toObjectType}/batch/create_batchCreate",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The source CRM object type for the batch association configuration creation."
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The target CRM object type for the batch association configuration creation."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicAssociationDefinitionConfigurationCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicAssociationDefinitionUserConfiguration"
                                }
                            }
                        }
                    },
                    "207": {
                        "description": "multiple statuses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BatchResponsePublicAssociationDefinitionUserConfigurationWithErrors"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/{fromObjectType}/{toObjectType}/labels": {
            "get": {
                "tags": [
                    "Definitions"
                ],
                "summary": "Retrieve all association labels",
                "description": "Returns all association labels for the defined relationship between the specified object types.",
                "operationId": "get-/crm/v4/associations/{fromObjectType}/{toObjectType}/labels_getAll",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The source CRM object type for which to retrieve association labels."
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The target CRM object type for which to retrieve association labels."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseAssociationSpecWithLabelNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            },
            "put": {
                "tags": [
                    "Definitions"
                ],
                "summary": "Update an association definition",
                "description": "Updates an existing user-defined association definition between two object types",
                "operationId": "put-/crm/v4/associations/{fromObjectType}/{toObjectType}/labels_update",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The source CRM object type for the association label being updated."
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The target CRM object type for the association label being updated."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicAssociationDefinitionUpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            },
            "post": {
                "tags": [
                    "Definitions"
                ],
                "summary": "Create an association definition",
                "description": "Creates a new user-defined association definition between two object types",
                "operationId": "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/labels_create",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The source CRM object type for the association label being created."
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The target CRM object type for the association label being created."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PublicAssociationDefinitionCreateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionResponseAssociationSpecWithLabelNoPaging"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.leads.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.leads.read"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.line_items.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.courses.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.courses.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.quotes.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.partner-clients.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.quotes.read"
                        ]
                    }
                ],
                "x-hubspot-rate-limit-exemptions": [
                    "ten-secondly"
                ]
            }
        },
        "/definitions/configurations/{fromObjectType}/{toObjectType}/batch/purge": {
            "post": {
                "tags": [
                    "Definition Configurations"
                ],
                "summary": "Batch delete configurations",
                "description": "Deletes multiple user-defined association configurations between the specified object types in a single batch",
                "operationId": "post-/crm/v4/associations/definitions/configurations/{fromObjectType}/{toObjectType}/batch/purge_batchRemove",
                "parameters": [
                    {
                        "name": "fromObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The source CRM object type for the batch association configuration removal."
                    },
                    {
                        "name": "toObjectType",
                        "in": "path",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "description": "The target CRM object type for the batch association configuration removal."
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BatchInputPublicAssociationSpec"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "No content",
                        "content": {}
                    },
                    "default": {
                        "$ref": "#/components/responses/Error"
                    }
                },
                "security": [
                    {
                        "private_apps": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.listings.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "contacts"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.subscriptions.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "media_bridge.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.companies.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.users.write"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.carts.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "e-commerce"
                        ]
                    },
                    {
                        "private_apps_legacy": [
                            "tickets"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.goals.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.write"
                        ]
                    },
                    {
                        "oauth2_legacy": [
                            "crm.objects.custom.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.services.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.orders.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.commercepayments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.contacts.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.deals.write"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
                        "oauth2": [
                            "crm.objects.appointments.read"
                        ]
                    },
                    {
                        "private_apps": [
                            "crm.objects.invoices.read"
                        ]
                    },
                    {
[...]
